[submodule "data/husky_urdf"]
	path = data/husky_urdf
	url = git@github.com:yijiangh/husky_urdf.git
[submodule "external/tracikpy"]
	path = external/tracikpy
	url = git@github.com:mjd3/tracikpy.git
[submodule "external/compas_fab"]
	path = external/compas_fab
	url = git@github.com:compas-dev/compas_fab.git
[submodule "data/husky_assembly_design_study"]
	path = data/husky_assembly_design_study
	url = git@github.com:yijiangh/husky_assembly_design_study.git
[submodule "external/pybullet_planning"]
	path = external/pybullet_planning
	url = https://github.com/yijiangh/pybullet_planning.git
[submodule "external/husky_assembly_tamp"]
	path = external/husky_assembly_tamp
	url = git@github.com:yijiangh/husky_assembly_tamp.git
